body {
  background-color: rgba(214, 107, 57, 0.486);
  color: white;
  width: 100vw;
  text-align: center;
}

section {
  margin: auto;
  margin-top: 4rem;
  width: 30rem;
}

img {
  width: 200px;
}

.flex {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-items: flex-start;
}

.flex > * {
  width: 100%;
}
